/* navbar */

body {
    font-size: 12px;
    font-family: Arial;
}

nav.top span,
nav.top a {
    color: #999;
    margin: 0 10px;
}

.redColor {
    color: #c40000 !important;
}

nav.top {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
}

nav.top a:hover {
    color: #c40000;
    text-decoration: none;
}

/* simpleSearchbar */

div.simpleSearchBar {
    margin: 10px auto;
}

div.simpleSearchDiv {
    background-color: #c40000;
    height: 40px;
    padding: 1px;
    margin: 10px 20px 40px;
    width: 300px;
     /* 只有使用块状显示的时候外边距才会生效 */
    display: block;
}

div.simpleSearchDiv input {
    width: 225px;
    height: 34px;
    margin: 2px;
    outline: none;
    border: 1px solid transparent;
    font-size: 14px;
}

div.simpleSearchDiv button {
    width: 60px;
    background-color: #c40000;
    font-size: 14px;
    color: #fff;
    border: 1px solid transparent;
}

div.simpleSearchDiv input::-webkit-input-placeholder {
    color: #999;
}

div.simpleSearchBelow {
    margin-top: 3px;
    margin-left: -20px;
}

div.simpleSearchBelow span a {
    padding: 0 20px;
    color: #999;
    font-size: 14px;
}

div.simpleSearchBelow span {
    color: #999;
}

div.simpleSearchBelow span a:hover {
    color: #c40000;
    text-decoration: none;
}

div img#simpleLogo {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 140px;
}

div.categoryPictureInProductPageDiv {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

/* regesiterPage */

div.registerDiv {
    margin: 10px 20px;
}

div.registerDiv table.registerTable {
    text-align: center;
    font-size: 16px;
    color: #3c3c3c;
    margin-top: 50px;
    table-layout: fixed; /* 单元格的宽度取设定的值 */
}

div.registerDiv table.registerTable td {
    padding: 10px 30px;
}

div.registerDiv table.registerTable td.registerTip {
    font-weight: bold;
}

div.registerDiv table.registerTable td.registerTableLeftTD {
    width: 300px;
    text-align: right;
}

div.registerDiv table.registerTable td.registerTableRightTD {
    width: 300px;
    text-align: left;
}

div.registerDiv table.registerTable td.registerTableRightTD input {
    font-size: 14px;
    border: 1px solid #dedede;
    width: 213px;
    height: 36px;
}

div.registerDiv table.registerTable td.registerButtonTD button {
    background-color: #c40000;
    color: #fff;
    border-width: 0;
    border-radius: 2px;
    width: 170px;
    height: 36px;
    margin-left: 70px;
}

/* pagefooter1 */

body {
    font-family: Arial;
    font-size: 12px;
}

div.footer {
    margin: 0;
    border-top: 1px solid #e7e7e7;
}

div.footer div.footer_ensure {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

div.footer_desc {
    border-top: 1px solid #e7e7e7;
    margin: 0 20px;
    padding-top: 30px;
}

div.footer_desc div.descColumn {
    float: left;
    width: 20%;
    padding-left: 15px;
}

div.footer_desc div.descColumn a {
    display: block;
    padding-top: 3px;
    color: #999;
}

div.footer_desc div.descColumn span.descColumnTitle {
    color: #646464;
    font-size: 16px;
    font-weight: bold;
}

div.footer_desc div.descColumn a:hover {
    color: #c40000;
    text-decoration: none;
}

/* pagefooter2 */

body {
    font-size: 12px;
    font-family: Arial;
}

div.footer {
    margin: 0;
    border-top: 1px solid #e7e7e7;
}

div.footer img#cateye {
    margin-left: 20px;
}

div.footer div.copyright {
    background-color: #000;
    border-top: 2px solid #c40000;
}

div.footer div.copyright div.white_link {
    margin-left: 10px;
    padding: 10px 0;
}

div.footer div.copyright div.white_link a {
    color: #fff;
    padding: 0 5px;
}

div.footer div.copyright div.white_link span.slash {
    color: #fff;
}

div.footer div.copyright div.license {
    margin-left: 10px;
    padding-bottom: 30px;
}

div.footer div.copyright div.license span {
    color: #a4a4a4;
}

div.footer div.copyright div.license div.copyrightYear {
    color: #686868;
    margin: 10px 0;
}